<h1 class="page-header" itemprop="name">View Files in Angular</h1>

<div class="home row">
  <h4>Key features</h4>
  <ul>
    <li>One directive to view files</li>
    <li>Friendly content display of Audio, HTML, JSON, PDF, Text, Video, and XML</li>
    <li>Pretty source display for JSON, HTML, Text, and XML</li>
    <li>Optional controlbar with buttons for modal display and download</li>
    <li>Highly configurable, make sure to also look at the <a ui-sref="api" rel="api">API documentation</a></li>
  </ul>
  <h4>Examples</h4>
  <uib-tabset>
    <uib-tab heading="View by URI">
      <div id="uri-{{file.type}}" class="row" ng-repeat="file in ctrl.files">
        <div class="col-md-10 col-md-offset-1">
          <h5>{{ file.uri.split('/').pop() }} - {{ file.type }}</h5>
          <view-file uri="file.uri" content-type="file.type" download-uri="file.uri"></view-file>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="View by Data">
      <div id="data-{{file.type}}" class="row" ng-repeat="file in ctrl.files">
        <div class="col-md-10 col-md-offset-1">
          <h5>{{ file.uri.split('/').pop() }} - {{ file.type }}</h5>
          <view-file data="file.data" content-type="file.type" download-uri="file.uri"></view-file>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
