<div class="view-file row">

  <div class="controls col-sm-1 text-right" ng-if="controls && (((fileType === 'xml') || (fileType === 'json') || (fileType === 'html') || (fileType === 'text')) || allowModal || downloadUri)">
    <div class="code-control">
      <a ng-if="(fileType === 'xml') || (fileType === 'json') || (fileType === 'html') || (fileType === 'text')" class="btn btn-default" ng-click="ctrl.toggleCode()">
        <span ng-show="!showCode && ((fileType === 'json') || (fileType === 'text'))">{ }</span>
        <i ng-show="!showCode && ((fileType === 'html') || (fileType === 'xml'))" class="fa fa-code"></i>
        <i ng-show="showCode" class="fa fa-align-left"></i>
      </a>
    </div>

    <div class="modal-control">
      <a ng-if="allowModal && fileType !== 'audio'" class="btn btn-default" ng-click="ctrl.showModal()"><i class="glyphicon glyphicon-resize-full"></i></a>
    </div>

    <div class="download-control">
      <a ng-if="downloadUri" class="btn btn-default" ng-href="{{downloadUri}}" download><i class="glyphicon glyphicon-download-alt"></i></a>
    </div>
  </div>

  <div class="viewer-wrapper" ng-class="{'col-sm-11': controls, 'col-sm-12': !controls}">
    <div class="loading">
      Loading... <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="viewer" ng-if="!loading">
      <!-- audio / video -->
      <div class="source">
        <videogular ng-if="fileType === 'audio' || fileType === 'video'" style="{{ fileType === 'audio' ? 'height: 70px;' : '' }}">
          <vg-media vg-src="uri"></vg-media>
          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button ng-show="fileType === 'video'"></vg-fullscreen-button>
          </vg-controls>
        </videogular>
      </div>

      <!-- html / text -->
      <div ng-if="(fileType === 'html') || (fileType === 'text')">
        <div class="source" ng-show="!showCode"><div include-safe="uri"></div></div>
        <hljs ng-show="showCode" hljs-include="uri"></hljs>
      </div>

      <!-- image -->
      <div class="source text-center" ng-if="fileType === 'image'"><img ng-src="{{uri}}"></div>

      <!-- json -->
      <div ng-if="fileType === 'json'">
        <friendly-json class="source" ng-show="!showCode" uri="uri"></friendly-json>
        <json-explorer class="source" ng-show="showCode" url="uri"></json-explorer>
      </div>

      <!-- xml -->
      <div ng-if="fileType === 'xml'">
        <friendly-xml ng-show="!showCode" class="source" uri="uri"></friendly-xml>
        <hljs ng-show="showCode" hljs-include="hljsUri"></hljs>
      </div>

      <!-- other -->
      <view-object class="source" ng-if="fileType === 'other'" data="uri" type="contentType">
        <a ng-show="downloadUri" class="btn btn-default" ng-href="{{downloadUri}}">Download</a>
        <div class="alert alert-danger" ng-show="!downloadUri">Alert: Cannot display this file!</div>
      </view-object>
    </div>
  </div>

</div>